@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "General Sans Regular";
  src: local("General Sans Regular"),
    url("./assets/fonts/generalSans/GeneralSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "General Sans Italic";
  src: local("General Sans Italic"),
    url("./assets/fonts/generalSans/GeneralSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "General Sans Extralight";
  src: local("General Sans Extralight"),
    url("./assets/fonts/generalSans/GeneralSans-Extralight.woff") format("woff");
}

@font-face {
  font-family: "General Sans Extralight Italic";
  src: local("General Sans Extralight Italic"),
    url("./assets/fonts/generalSans/GeneralSans-ExtralightItalic.woff")
      format("woff");
}

@font-face {
  font-family: "General Sans Light";
  src: local("General Sans Light"),
    url("./assets/fonts/generalSans/GeneralSans-Light.woff") format("woff");
}

@font-face {
  font-family: "General Sans Light Italic";
  src: local("General Sans Light Italic"),
    url("./assets/fonts/generalSans/GeneralSans-LightItalic.woff")
      format("woff");
}

@font-face {
  font-family: "General Sans Medium";
  src: local("General Sans Medium"),
    url("./assets/fonts/generalSans/GeneralSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "General Sans Medium Italic";
  src: local("General Sans Medium Italic"),
    url("./assets/fonts/generalSans/GeneralSans-MediumItalic.woff")
      format("woff");
}

@font-face {
  font-family: "General Sans Semibold";
  src: local("General Sans Semibold"),
    url("./assets/fonts/generalSans/GeneralSans-Semibold.woff") format("woff");
}

@font-face {
  font-family: "General Sans Semibold Italic";
  src: local("General Sans Semibold Italic"),
    url("./assets/fonts/generalSans/GeneralSans-SemiboldItalic.woff")
      format("woff");
}

@font-face {
  font-family: "General Sans Bold";
  src: local("General Sans Bold"),
    url("./assets/fonts/generalSans/GeneralSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "General Sans Bold Italic";
  src: local("General Sans Bold Italic"),
    url("./assets/fonts/generalSans/GeneralSans-BoldItalic.woff") format("woff");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
